<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li ng-class="{active: tc.activeTab(1) }" role="presentation">
                <a href="#" ng-click="tc.setTab(1)">Home</a>
            </li>
            <li ng-class="{active: tc.activeTab(2) }" role="presentation">
                <a href="#" ng-click="tc.setTab(2)">Elvis</a>
            </li>
            <li ng-class="{active: tc.activeTab(3) }" role="presentation">
                <a href="#" ng-click="tc.setTab(3)">HUE</a>
            </li>
            <li ng-class="{active: tc.activeTab(4) }" role="presentation">
                <a href="#" ng-click="tc.setTab(4)">LALA</a>
            </li>
        </ul>
    </div>
</div>

<div class="row" ng-show="tc.activeTab(1)">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>{{ appCtrl.nome }}</h1>
            <p>
                <a ng-click="appCtrl.click('olá marilene')" class="btn btn-primary btn-lg" role="button" href="#">BOTÃO</a>
            </p>
        </div>
    </div>
</div>

<div class="row" ng-show="tc.activeTab(2)">
    <div class="col-md-6">
        <div class="jumbotron">
            <input type="text" ng-model="appCtrl.nome">
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <img ng-hide="appCtrl.imgShow(appCtrl.nome)" ng-src="img/elvis.gif" alt="Elvis não morreu">
            <img ng-show="appCtrl.imgShow(appCtrl.nome)" ng-src="img/65-wat.jpg" alt="Elvis não morreu">
        </div>
    </div>
</div>

<div class="row" ng-show="tc.activeTab(3)">
    <div class="col-md-12">
        <h1>Pessoas</h1>
        <ul ng-repeat="pessoa in appCtrl.pessoas" ng-show="pessoa.ativo">
            <li>{{ pessoa.nome }}</li>
            <li>{{ pessoa.sobrenome }}</li>
        </ul>
    </div>
</div>

<div class="row" ng-show="tc.activeTab(4)">
    <div class="col-md-12">
        <h1>Linhas</h1>
        <ul ng-repeat="linha in appCtrl.linhas">
            <li>{{ linha.nome }}</li>
        </ul>
    </div>
</div>